USE [QuanLyThuVien_LAOS195089]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PhanLoaiMuonSach]    Script Date: 3/5/2569 21:15:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_PhanLoaiMuonSach]()
RETURNS @BangPhanLoai TABLE (
    MaDG INT,
    HoTen NVARCHAR(100),
    SoNgayMuon INT,
    TinhTrang NVARCHAR(50)
)
AS
BEGIN
    INSERT INTO @BangPhanLoai
    SELECT d.MaDG, d.HoTen, dbo.fn_TinhSoNgayMuon(m.NgayMuon),
           CASE 
               WHEN dbo.fn_TinhSoNgayMuon(m.NgayMuon) > 14 THEN N'Quá hạn'
               ELSE N'Trong hạn'
           END
    FROM DocGia d JOIN MuonSach m ON d.MaDG = m.MaDG;
    
    RETURN;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhSoNgayMuon]    Script Date: 3/5/2569 21:15:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhSoNgayMuon](@NgayMuon DATETIME)
RETURNS INT AS
BEGIN
    RETURN DATEDIFF(day, @NgayMuon, GETDATE());
END;

GO
/****** Object:  Table [dbo].[Sach]    Script Date: 3/5/2569 21:15:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TimSachTheoSoLuong]    Script Date: 3/5/2569 21:15:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TimSachTheoSoLuong](@MinQty INT)
RETURNS TABLE AS
RETURN (
    SELECT MaSach, TenSach, SoLuong 
    FROM Sach 
    WHERE SoLuong >= @MinQty
);
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 3/5/2569 21:15:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDG] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuonSach]    Script Date: 3/5/2569 21:15:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonSach](
	[MaMuon] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [int] NULL,
	[MaDG] [int] NULL,
	[NgayMuon] [datetime] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DocGia] ON 

INSERT [dbo].[DocGia] ([MaDG], [HoTen], [Email]) VALUES (1, N'Panyasack Vilasack', N'panyasack@tnut.edu.vn')
INSERT [dbo].[DocGia] ([MaDG], [HoTen], [Email]) VALUES (2, N'Somchai Inthavong', N'somchai@gmail.com')
INSERT [dbo].[DocGia] ([MaDG], [HoTen], [Email]) VALUES (3, N'Keota Mixay', N'keota@outlook.com')
SET IDENTITY_INSERT [dbo].[DocGia] OFF
GO
SET IDENTITY_INSERT [dbo].[MuonSach] ON 

INSERT [dbo].[MuonSach] ([MaMuon], [MaSach], [MaDG], [NgayMuon], [TrangThai]) VALUES (1, 1, 1, CAST(N'2026-04-10T00:00:00.000' AS DateTime), N'Đang mượn')
INSERT [dbo].[MuonSach] ([MaMuon], [MaSach], [MaDG], [NgayMuon], [TrangThai]) VALUES (2, 2, 2, CAST(N'2026-04-15T00:00:00.000' AS DateTime), N'Đang mượn')
INSERT [dbo].[MuonSach] ([MaMuon], [MaSach], [MaDG], [NgayMuon], [TrangThai]) VALUES (3, 3, 3, CAST(N'2026-05-03T20:44:36.403' AS DateTime), N'Đang mượn')
SET IDENTITY_INSERT [dbo].[MuonSach] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [TenSach], [SoLuong]) VALUES (1, N'Lập trình SQL Server cơ bản', 9)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [SoLuong]) VALUES (2, N'Cấu trúc dữ liệu và Giải thuật', 5)
INSERT [dbo].[Sach] ([MaSach], [TenSach], [SoLuong]) VALUES (3, N'Mạng máy tính nâng cao', 7)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
ALTER TABLE [dbo].[MuonSach] ADD  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[MuonSach] ADD  DEFAULT (N'Đang mượn') FOR [TrangThai]
GO
ALTER TABLE [dbo].[MuonSach]  WITH CHECK ADD FOREIGN KEY([MaDG])
REFERENCES [dbo].[DocGia] ([MaDG])
GO
ALTER TABLE [dbo].[MuonSach]  WITH CHECK ADD FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachChiTietMuonSach]    Script Date: 3/5/2569 21:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DanhSachChiTietMuonSach]
AS
BEGIN
    SELECT d.HoTen AS [Tên Độc Giả], 
           s.TenSach AS [Tên Sách], 
           m.NgayMuon AS [Ngày Mượn],
           m.TrangThai AS [Trạng Thái]
    FROM MuonSach m
    JOIN DocGia d ON m.MaDG = d.MaDG
    JOIN Sach s ON m.MaSach = s.MaSach;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_NhapSachMoi]    Script Date: 3/5/2569 21:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_NhapSachMoi]
    @TenSach NVARCHAR(200),
    @SoLuong INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Sach WHERE TenSach = @TenSach)
    BEGIN
        -- Nếu sách đã có, cập nhật thêm số lượng
        UPDATE Sach SET SoLuong = SoLuong + @SoLuong WHERE TenSach = @TenSach;
        PRINT N'Sách đã tồn tại, đã cập nhật thêm số lượng.';
    END
    ELSE
    BEGIN
        -- Nếu chưa có, thêm mới hoàn toàn
        INSERT INTO Sach (TenSach, SoLuong) VALUES (@TenSach, @SoLuong);
        PRINT N'Đã thêm sách mới thành công.';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TongSoLuongSach]    Script Date: 3/5/2569 21:15:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TongSoLuongSach]
    @TongSach INT OUTPUT
AS
BEGIN
    SELECT @TongSach = SUM(SoLuong) FROM Sach;
END;
GO
